<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Twinder</a>

    <!-- JSX terms {
        isLoggedIn ? () : ()
        angular is *ngIf="loggedIn"
    } -->
    <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$ | async">
      <li class="nav-item">
        <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
      </li>
    </ul>
    <!-- tell angular this is a angular form -->
    <!-- #loginForm="ngForm" -->
    <!-- we now have access to onSubmit (React terms) (ngSubmit) and access 
        to our functions inside the component-->

    <div class="dropdown" *ngIf="accountService.currentUser$ | async" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome user
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </a>
    </div>
    <form
      *ngIf="!(accountService.currentUser$ | async)"
      autocomplete="off"
      #loginForm="ngForm"
      class="form-inline mt-2 mt-md-0"
      (ngSubmit)="login()"
    >
      <!-- TWO WAY BINDINGS  -->
      <!-- React terms is the e.target.value useState onChange 
        handleChange combo =D -->
      <!-- banana in a box. square brackets are receiving, and () is output -->
      <!-- or in other words () is template (HTML) to component -->
      <input
        [(ngModel)]="form.username"
        name="username"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Username"
        aria-label="Search"
      />
      <input
        [(ngModel)]="form.password"
        class="form-control mr-sm-2"
        name="password"
        type="password"
        placeholder="Password"
        aria-label="Search"
        autocomplete
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Login
      </button>
    </form>
  </div>
</nav>
